# Create @ dashboard.meraki.com > Organization > Configure > API & Webhooks > API keys and access 
MERAKI_DASHBOARD_API_KEY="your_key"
# Find all your Orgs and IDs @ https://api.meraki.com/api/v1/organizations/
MERAKI_ORG_ID="your_org_id"
# For all Meraki Dashboard APIs
MERAKI_BASE_URL="https://api.meraki.com/api/v1"
