# Create @ dashboard.meraki.com > Organization > Configure > API & Webhooks > API keys and access 
export MERAKI_DASHBOARD_API_KEY="your_key"

# Find all your Orgs and IDs @ https://api.meraki.com/api/v1/organizations/
export MERAKI_BASE_URL='https://api.meraki.com/api/v1'
export MERAKI_WAIT_ON_RATE_LIMIT=True
export MERAKI_ORG_ID=your_org_id
export MERAKI_ORG_NAME=your_org_name
